<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap/bootstrap-icons.css">
	<link rel="stylesheet" href="/static/styles/styles.css">

	<title>Checkbook</title>

	<style>
	</style>
</head>
<body>
	<div id="app"></div>

	<script src="/static/jquery/jquery-3.6.0.min.js"></script>
	<script src="/static/react/react.development.js"></script>
	<script src="/static/react/react-dom.development.js"></script>
	<script src="/static/react/babel.min.js"></script>
	<script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
	<script type="text/babel" src="/static/scripts/app.jsx"></script>
</body>
</html>
